<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ironwall.Libraries.Map.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ironwall.Libraries.Map.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Ironwall.Libraries.Map.Common.Properties.Settings>
      <setting name="TableMaps" serializeAs="String">
        <value>object_maps</value>
      </setting>
      <setting name="TableCameras" serializeAs="String">
        <value>object_cameras</value>
      </setting>
      <setting name="TableControllers" serializeAs="String">
        <value>object_controllers</value>
      </setting>
      <setting name="TableGeometies" serializeAs="String">
        <value>object_geometries</value>
      </setting>
      <setting name="TablePoints" serializeAs="String">
        <value>object_points</value>
      </setting>
      <setting name="TableFences" serializeAs="String">
        <value>object_fences</value>
      </setting>
      <setting name="TableMultiSensors" serializeAs="String">
        <value>object_multisensors</value>
      </setting>
      <setting name="TableSymbols" serializeAs="String">
        <value>object_symbols</value>
      </setting>
      <setting name="TableObjects" serializeAs="String">
        <value>object_objects</value>
      </setting>
    </Ironwall.Libraries.Map.Common.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userSettings>
    <Ironwall.Libraries.Map.Common.Properties.Settings>
      <setting name="TableSymbolInfo" serializeAs="String">
        <value>object_info</value>
      </setting>
    </Ironwall.Libraries.Map.Common.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>