<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ironwall.Libraries.Events.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ironwall.Libraries.Events.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Ironwall.Libraries.Events.Properties.Settings>
      <setting name="TableDetection" serializeAs="String">
        <value>detection_events</value>
      </setting>
      <setting name="TableMalfunction" serializeAs="String">
        <value>malfunction_events</value>
      </setting>
      <setting name="TableAction" serializeAs="String">
        <value>action_events</value>
      </setting>
      <setting name="TableConnection" serializeAs="String">
        <value>connection_events</value>
      </setting>
      <setting name="LengthMaxEventPrev" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LengthMinEventPrev" serializeAs="String">
        <value>10</value>
      </setting>
    </Ironwall.Libraries.Events.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userSettings>
    <Ironwall.Libraries.Events.Properties.Settings>
      <setting name="EventCardMapChange" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EventMapChange" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsEventAutoDiscard" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EventTimeExpiration" serializeAs="String">
        <value>10</value>
      </setting>
    </Ironwall.Libraries.Events.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>