<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ironwall.Libraries.Account.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ironwall.Libraries.Account.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ironwall.Libraries.Account.Common.Properties.Settings>
            <setting name="SessionTimeout" serializeAs="String">
                <value>200</value>
            </setting>
        </Ironwall.Libraries.Account.Common.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Ironwall.Libraries.Account.Common.Properties.Settings>
            <setting name="TableSession" serializeAs="String">
                <value>session_users</value>
            </setting>
            <setting name="TableLogin" serializeAs="String">
                <value>login_users</value>
            </setting>
            <setting name="PathDatabase" serializeAs="String">
                <value>Database</value>
            </setting>
            <setting name="NameDatabase" serializeAs="String">
                <value>AccountDb.db3</value>
            </setting>
            <setting name="TableUser" serializeAs="String">
                <value>account_users</value>
            </setting>
        </Ironwall.Libraries.Account.Common.Properties.Settings>
    </applicationSettings>
</configuration>