<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ironwall.Libraries.Onvif.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ironwall.Libraries.Onvif.Properties.Settings>
            <setting name="PtzTimeOut" serializeAs="String">
                <value>30</value>
            </setting>
        </Ironwall.Libraries.Onvif.Properties.Settings>
    </userSettings>
</configuration>